<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
			<link rel="stylesheet" type="text/css" href="login.css"></link>

</head>
<body style="background-color: rgba(132,234,4,0.4)">
	<div class='form'>
<form method="post" action='/login' >
	<label style="font-size: 2em;">LOGIN</label><br><br><br>
	<img src="https://www.incimages.com/uploaded_files/image/970x450/silence-quiet-1940x900_36631.jpg" alt="" width="200px" height="200px"><br><br>
	<label>Email</label><br><br>
	<input type="email" name="email" required="true"><br><br>
	<label>Password</label><br><br>
	<input type="password" name="password" required="true"><br><br>
	<button style="cursor: pointer;font-size: 1em">Login</button><br><br>
	<p style="font-family: sans-serif;">Dont Have an Account!</p>
</form>
	<form action='/register_page' method="GET">
		<button style="cursor: pointer;">Click to Register</button>
</form>
</div>
</body>
</html>