<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="edit_page.css">
</head>
<body style="background-color: rgba(132,234,4,0.4)">
<form class='form' enctype="multipart/form-data">
	<label style="font-family: sans-serif;font-size: 1.5em;">EDIT PROFILE</label>
	<img src="https://s3.amazonaws.com/thumbnails.illustrationsource.com/huge.102.513291.JPG" alt="" height="200px" width="200px"><br><br><br>
	<label style="font-family: sans-serif;">Change Your Profile Photo</label>
	<input type="file" name="image" style="color:transparent;padding-top: 2em;margin-left: 10em;padding-bottom: 1em;"><br><br>
	<button>Upload</button>

</form>
</body>
</html>