.input{
	position: fixed;
  bottom: 1%;
  height: 8%;
  width: 100%;
  margin: auto;
}
.lower{
	position: fixed;
	height:5%;
	width:70%;
	left:7%;
	bottom:2%;
	right:20%;
}
.upper{
	position: fixed;
}
.button{
	position:absolute;
	top:10%;
	height:70%;
	width:10%;
	left:80%;
}
.friend_message{
	position: absolute;
	top:17%;
	left:0.2%;
}
.my_message{
	position: absolute;
	top:20%;
	right:0.2%;
}



