.form{
	border: 1px solid black;
	width:30em;
	padding: 5px;
	margin-left: 42em;
	margin-top: 5em;
	margin-right: 10em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(149,78,87);
}
label{
	font-size: 1em;
	font-family: sans-serif;
}
input{
	font-size: 1.5em;
	text-align: center;
}