<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="Add-user.css">
</head>
<body style="background-color: rgba(132,234,4,0.4)">
<form class='form'>
		<label style="font-family: sans-serif;font-size: 1.5em;">ADD USER</label><br><br><br><br>
		<input type="email" name="user" style="font-size: 1.5em;font-family: sans-serif;font-style: bold;" required="true"><br><br><br>
		<button style="font-size: 1.5em;">ADD</button>

</body>
</html>